/* css to responsiveness */

@media screen and (max-width:700px) {
    .form-box{
        width: 100%;
       
    }
    .cont {
   
        background-image: linear-gradient(45deg, #373434, #3e453e, #3d3939);
        align-items:start;
      }
}

