*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
.cont{
     height:100vh;
     width: 100%;
     /* background-linear-gradient: (45deg, #761010, #07b018, #380ba1); */
 background-image: linear-gradient(45deg, #322a2a, #060706, #322a2a);
 display: flex;
 justify-content: center;
 align-items: center;
    }
 .form-box{
    width: 50%;
    max-width: 400px;
    border: 2px;
    border-radius: 8px;
    background-color: aliceblue;
    padding: 10px 20px;
    margin: 30px;

 }   
.form-box header h1{
    text-align: center;
    color: #380ba1;
    /* margin:0px; */
}
.form-box form{
    margin: 20px;
    padding: 0px 20px;
    
}
.form-box input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    max-width: 300px;
    width: 100%;

}
.form-box a{
    margin: 10px;
}
button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    max-width: 300px;
    width: 100%;
    color: #e1e0e2;
    background-color: #380ba1;
}
#usarname{
    display: none;
}
.link{
    display: flex;
    justify-content: center;
}
.link img{
    background-color: aliceblue;
    /* height: 30px;
    width: 30px; */
    max-height: 30px;
    margin: 5px;
}
.sigup{
    text-align: center;
    margin-block: 10px;
}
.sigup a{
    font-size: 18PX;
    font-weight: 600;
    color: #380ba1;
}
.sigup a :hover{  
    color: #058538;
    text-decoration: underline 2PX;
}





